In [42]:
devDF = spark.read. \
json("/loudacre/devices.json")
makeModelDF = devDF.select("make","model")

In [6]:
accountsDF = spark.read.table("accounts")

In [9]:
accountsDF.select(accountsDF["first_name"]).show()

+----------+
|first_name|
+----------+
|    Donald|
|     Donna|
|    Dorthy|
|     Leila|
|     Anita|
|    Stevie|
|     David|
|   Dorothy|
|      Kara|
|     Diane|
|    Robert|
|    Marcia|
|    Andres|
|       Ann|
|    Joseph|
|     Sarah|
|      Lucy|
|    Roland|
|     Leona|
|   Forrest|
+----------+
only showing top 20 rows

In [10]:
fnCol=accountsDF.first_name

In [12]:
lucyCol = (fnCol == "Lucy")

In [13]:
accountsDF. \
select(accountsDF.first_name, \
accountsDF.last_name,lucyCol). \
show()

+----------+---------+-------------------+
|first_name|last_name|(first_name = Lucy)|
+----------+---------+-------------------+
|    Donald|   Becton|              false|
|     Donna|    Jones|              false|
|    Dorthy| Chalmers|              false|
|     Leila|  Spencer|              false|
|     Anita| Laughlin|              false|
|    Stevie|   Bridge|              false|
|     David|   Eggers|              false|
|   Dorothy|  Koopman|              false|
|      Kara|     Kohl|              false|
|     Diane|   Nelson|              false|
|    Robert|   Fisher|              false|
|    Marcia|  Roberts|              false|
|    Andres|    Cruse|              false|
|       Ann|    Moore|              false|
|    Joseph|   Lackey|              false|
|     Sarah|   Duvall|              false|
|      Lucy|   Corley|               true|
|    Roland| Crawford|              false|
|     Leona|     Bray|              false|
|   Forrest|   Becker|              false|
+----------+---------+-------------------+
only showing top 20 rows

In [14]:
accountsDF.where(lucyCol).show(5)

+--------+-------------------+-------------------+----------+---------+--------------------+----------+-----+-------+------------+-------------------+-------------------+
|acct_num|     acct_create_dt|      acct_close_dt|first_name|last_name|             address|      city|state|zipcode|phone_number|            created|           modified|
+--------+-------------------+-------------------+----------+---------+--------------------+----------+-----+-------+------------+-------------------+-------------------+
|      17|2008-12-27 23:31:40|               null|      Lucy|   Corley|   4834 Brown Street|Santa Rosa|   CA|  94980|  7076068290|2014-03-18 13:29:47|2014-03-18 13:29:47|
|    1762|2009-03-19 23:43:00|               null|      Lucy|    Davis|2195 Riverside Drive|Sacramento|   CA|  95620|  9169959437|2014-03-18 13:29:50|2014-03-18 13:29:50|
|    6551|2010-09-04 19:28:22|2014-02-14 19:19:16|      Lucy|  Casiano|2821 Wood Duck Drive|  Alhambra|   CA|  91810|  6261078791|2014-03-18 13:29:59|2014-03-18 13:29:59|
|    6978|2010-09-22 07:13:16|               null|      Lucy|      Lee|4781 Shadowmar Drive|   Salinas|   CA|  93961|  8315367970|2014-03-18 13:30:00|2014-03-18 13:30:00|
|    7107|2010-02-10 00:23:38|2014-01-23 22:55:06|      Lucy| Hastings|   4759 Gateway Road|    Fresno|   CA|  93692|  5595001084|2014-03-18 13:30:00|2014-03-18 13:30:00|
+--------+-------------------+-------------------+----------+---------+--------------------+----------+-----+-------+------------+-------------------+-------------------+
only showing top 5 rows

In [15]:
accountsDF.where(fnCol == "Lucy").show(5)

+--------+-------------------+-------------------+----------+---------+--------------------+----------+-----+-------+------------+-------------------+-------------------+
|acct_num|     acct_create_dt|      acct_close_dt|first_name|last_name|             address|      city|state|zipcode|phone_number|            created|           modified|
+--------+-------------------+-------------------+----------+---------+--------------------+----------+-----+-------+------------+-------------------+-------------------+
|      17|2008-12-27 23:31:40|               null|      Lucy|   Corley|   4834 Brown Street|Santa Rosa|   CA|  94980|  7076068290|2014-03-18 13:29:47|2014-03-18 13:29:47|
|    1762|2009-03-19 23:43:00|               null|      Lucy|    Davis|2195 Riverside Drive|Sacramento|   CA|  95620|  9169959437|2014-03-18 13:29:50|2014-03-18 13:29:50|
|    6551|2010-09-04 19:28:22|2014-02-14 19:19:16|      Lucy|  Casiano|2821 Wood Duck Drive|  Alhambra|   CA|  91810|  6261078791|2014-03-18 13:29:59|2014-03-18 13:29:59|
|    6978|2010-09-22 07:13:16|               null|      Lucy|      Lee|4781 Shadowmar Drive|   Salinas|   CA|  93961|  8315367970|2014-03-18 13:30:00|2014-03-18 13:30:00|
|    7107|2010-02-10 00:23:38|2014-01-23 22:55:06|      Lucy| Hastings|   4759 Gateway Road|    Fresno|   CA|  93692|  5595001084|2014-03-18 13:30:00|2014-03-18 13:30:00|
+--------+-------------------+-------------------+----------+---------+--------------------+----------+-----+-------+------------+-------------------+-------------------+
only showing top 5 rows

In [16]:
accountsDF.select("city", "state", accountsDF.phone_number.substr(1,3)).show(5)

+-------------+-----+-----------------------------+
|         city|state|substring(phone_number, 1, 3)|
+-------------+-----+-----------------------------+
|      Oakland|   CA|                          510|
|San Francisco|   CA|                          415|
|    San Mateo|   CA|                          650|
|    San Mateo|   CA|                          650|
|     Richmond|   CA|                          510|
+-------------+-----+-----------------------------+
only showing top 5 rows

In [17]:
accountsDF.select("city", "state", accountsDF.phone_number.substr(1,3).alias("area_code")).show(5)

+-------------+-----+---------+
|         city|state|area_code|
+-------------+-----+---------+
|      Oakland|   CA|      510|
|San Francisco|   CA|      415|
|    San Mateo|   CA|      650|
|    San Mateo|   CA|      650|
|     Richmond|   CA|      510|
+-------------+-----+---------+
only showing top 5 rows

In [18]:
accountsDF.groupBy("last_name").count().show()

+-----------+-----+
|  last_name|count|
+-----------+-----+
|   Francois|    6|
|     Bohner|    3|
|      Tyler|   50|
|     Maddox|   60|
|   Abramson|    3|
|    Custard|    3|
|   Striplin|    3|
|      Bunch|   20|
|      Roach|   35|
|      Veith|    3|
|    McClung|    8|
|    Palermo|    8|
|Mazzariello|    3|
|   Moreland|   17|
|     Wiener|    9|
|       Silk|    6|
|   Simental|    6|
|     Osteen|    3|
|  Spadafora|    3|
|       Maze|    6|
+-----------+-----+
only showing top 20 rows

In [35]:
baseDF = spark.read.parquet("/loudacre/base_stations.parquet")
baseDF.show(5)

+---+-----+-------------+-----+-------+---------+
| id|  zip|         city|state|    lat|      lon|
+---+-----+-------------+-----+-------+---------+
|  1|86502|     Chambers|   AZ|35.2375| -109.523|
|  2|86514| Teec Nos Pos|   AZ|36.7797| -109.359|
|  3|85602|       Benson|   AZ|31.9883|-110.2941|
|  4|86011|    Flagstaff|   AZ|35.6308|-112.0524|
|  5|86016|Gray Mountain|   AZ|35.6308|-112.0524|
+---+-----+-------------+-----+-------+---------+
only showing top 5 rows

In [22]:
accountsDF.select("acct_num","first_name","last_name","zipcode").join(baseDF, baseDF.zip == accountsDF.zipcode).show()

+--------+----------+-----------+-------+---+-----+-------------+-----+-------+---------+
|acct_num|first_name|  last_name|zipcode| id|  zip|         city|state|    lat|      lon|
+--------+----------+-----------+-------+---+-----+-------------+-----+-------+---------+
|      37|    Cheryl|       West|  94622|231|94622|      Oakland|   CA| 37.799|-122.2337|
|      56|   Terrell|   Hardiman|  94261|127|94261|   Sacramento|   CA|38.3774|-121.4444|
|      60|     Irwin|Clatterbuck|  94403|185|94403|    San Mateo|   CA|37.5395|-122.2998|
|      68|    Walter|    Greiner|  94701| 35|94701|     Berkeley|   CA|37.8606|-122.2967|
|     126|     Keith|     Branan|  94623| 34|94623|      Oakland|   CA|37.6802|-121.9215|
|     130|   Maynard|     Penley|  94120|165|94120|San Francisco|   CA|37.7848|-122.7278|
|     179|     Julia|    Nowicki|  94059|182|94059| Redwood City|   CA|37.3811|-122.3348|
|     183| Elizabeth|   McMillan|  94150|173|94150|San Francisco|   CA|37.7848|-122.7278|
|     196|     Bruce|     Vargas|  94975|211|94975|     Petaluma|   CA|38.4631|  -122.99|
|     233|     Arden|      Black|  94088|190|94088|    Sunnyvale|   CA|37.1894|-121.7053|
|     241|    Conrad|  Fairchild|  94116|164|94116|San Francisco|   CA|37.7441|-122.4863|
|     275|   Chelsea|      Gaona|  94040|189|94040|Mountain View|   CA|37.3855| -122.088|
|     410|   Kenneth|    Nowicki|  94110|163|94110|San Francisco|   CA|37.7509|-122.4153|
|     415|     Jason|       King|  94529| 39|94529|      Concord|   CA|37.7772|-121.9554|
|     435|    Andrew|      Oakes|  94130|167|94130|San Francisco|   CA|37.8231|-122.3693|
|     481|     Grace|     Brooks|  95675| 37|95675|  River Pines|   CA|38.5463| -120.743|
|     489|    George|       Sams|  94088|190|94088|    Sunnyvale|   CA|37.1894|-121.7053|
|     530|       Ann|   Stennett|  95190|202|95190|     San Jose|   CA|37.3894|-121.8868|
|     543|      Joan|     Benito|  95915|121|95915|       Belden|   CA|39.9324|-121.3144|
|     556|  Gretchen|    Akridge|  94074|184|94074| San Gregorio|   CA|37.3255|-122.3556|
+--------+----------+-----------+-------+---+-----+-------------+-----+-------+---------+
only showing top 20 rows

In [37]:
accountsDF.select("acct_num","first_name","last_name","zipcode").show(5)

+--------+----------+---------+-------+
|acct_num|first_name|last_name|zipcode|
+--------+----------+---------+-------+
|       1|    Donald|   Becton|  94660|
|       2|     Donna|    Jones|  94171|
|       3|    Dorthy| Chalmers|  94479|
|       4|     Leila|  Spencer|  94444|
|       5|     Anita| Laughlin|  94872|
+--------+----------+---------+-------+
only showing top 5 rows

In [32]:
accountDevicesDF = spark.read.option("header","true").csv("/loudacre/accountdevice/")

In [45]:
accountDevicesDF.show(1)
accountsDF.show(1)
devDF.show(1)
makeModelDF.show(1)

+-----+----------+---------+---------------+--------------------+
|   id|account_id|device_id|activation_date|   account_device_id|
+-----+----------+---------+---------------+--------------------+
|48692|     32443|       29|  1393242509000|7351fed1-f344-4cd...|
+-----+----------+---------+---------------+--------------------+
only showing top 1 row

+--------+-------------------+-------------+----------+---------+--------------------+-------+-----+-------+------------+-------------------+-------------------+
|acct_num|     acct_create_dt|acct_close_dt|first_name|last_name|             address|   city|state|zipcode|phone_number|            created|           modified|
+--------+-------------------+-------------+----------+---------+--------------------+-------+-----+-------+------------+-------------------+-------------------+
|       1|2008-10-23 16:05:05|         null|    Donald|   Becton|2275 Washburn Street|Oakland|   CA|  94660|  5100032418|2014-03-18 13:29:47|2014-03-18 13:29:47|
+--------+-------------------+-------------+----------+---------+--------------------+-------+-----+-------+------------+-------------------+-------------------+
only showing top 1 row

+--------+------+--------+-----+--------------------+
|dev_type|devnum|    make|model|          release_dt|
+--------+------+--------+-----+--------------------+
|   phone|     1|Sorrento| F00L|2008-10-21T00:00:...|
+--------+------+--------+-----+--------------------+
only showing top 1 row

+--------+-----+
|    make|model|
+--------+-----+
|Sorrento| F00L|
+--------+-----+
only showing top 1 row

In [47]:
activeAccountsDF = accountsDF.where(accountsDF.acct_close_dt.isNull())
activeAccountsDF.show(5)

+--------+-------------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+-------------------+-------------------+
|acct_num|     acct_create_dt|acct_close_dt|first_name|last_name|             address|         city|state|zipcode|phone_number|            created|           modified|
+--------+-------------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+-------------------+-------------------+
|       1|2008-10-23 16:05:05|         null|    Donald|   Becton|2275 Washburn Street|      Oakland|   CA|  94660|  5100032418|2014-03-18 13:29:47|2014-03-18 13:29:47|
|       2|2008-11-12 03:00:01|         null|     Donna|    Jones| 3885 Elliott Street|San Francisco|   CA|  94171|  4150835799|2014-03-18 13:29:47|2014-03-18 13:29:47|
|       3|2008-12-21 09:19:50|         null|    Dorthy| Chalmers|    4073 Whaley Lane|    San Mateo|   CA|  94479|  6506877757|2014-03-18 13:29:47|2014-03-18 13:29:47|
|       4|2008-11-28 00:08:09|         null|     Leila|  Spencer|    1447 Ross Street|    San Mateo|   CA|  94444|  6503198619|2014-03-18 13:29:47|2014-03-18 13:29:47|
|       5|2008-11-15 23:06:06|         null|     Anita| Laughlin|    2767 Hill Street|     Richmond|   CA|  94872|  5107754354|2014-03-18 13:29:47|2014-03-18 13:29:47|
+--------+-------------------+-------------+----------+---------+--------------------+-------------+-----+-------+------------+-------------------+-------------------+
only showing top 5 rows

In [51]:
activeAccountDevicesDF = accountDevicesDF. \
    join(activeAccountsDF,activeAccountsDF.acct_num == accountDevicesDF.account_id). \
    select("device_id")
activeAccountDevicesDF.show(5)

+---------+
|device_id|
+---------+
|       29|
|        4|
|        9|
|        6|
|       29|
+---------+
only showing top 5 rows

In [53]:
sumDevicesDF = activeAccountDevicesDF.groupBy("device_id").count().withColumnRenamed("count","active_num")
sumDevicesDF.show(5)

+---------+----------+
|device_id|active_num|
+---------+----------+
|        7|      2973|
|       15|      2972|
|       11|      2691|
|       29|     30901|
|       42|       706|
+---------+----------+
only showing top 5 rows

In [54]:
orderDevicesDF = sumDevicesDF.orderBy(sumDevicesDF.active_num.desc())

In [58]:
orderDevicesDF.show(5)
devDF.show(5)
makeModelDF.show(5)

+---------+----------+
|device_id|active_num|
+---------+----------+
|       29|     30901|
|       38|      3727|
|        9|      3644|
|        5|      3643|
|        1|      3620|
+---------+----------+
only showing top 5 rows

+--------+------+--------+-----+--------------------+
|dev_type|devnum|    make|model|          release_dt|
+--------+------+--------+-----+--------------------+
|   phone|     1|Sorrento| F00L|2008-10-21T00:00:...|
|   phone|     2| Titanic| 2100|2010-04-19T00:00:...|
|   phone|     3|  MeeToo|  3.0|2011-02-18T00:00:...|
|   phone|     4|  MeeToo|  3.1|2011-09-21T00:00:...|
|   phone|     5|  iFruit|    1|2008-10-21T00:00:...|
+--------+------+--------+-----+--------------------+
only showing top 5 rows

+--------+-----+
|    make|model|
+--------+-----+
|Sorrento| F00L|
| Titanic| 2100|
|  MeeToo|  3.0|
|  MeeToo|  3.1|
|  iFruit|    1|
+--------+-----+
only showing top 5 rows

In [60]:
result = orderDevicesDF.join(devDF, sumDevicesDF.device_id == devDF.devnum)
result.show(5)

+---------+----------+--------+------+--------+-----+--------------------+
|device_id|active_num|dev_type|devnum|    make|model|          release_dt|
+---------+----------+--------+------+--------+-----+--------------------+
|       29|     30901|   phone|    29|Sorrento| F41L|2013-11-01T00:00:...|
|       38|      3727|   phone|    38| Titanic| 1100|2008-11-25T00:00:...|
|        9|      3644|   phone|     9| Titanic| 1000|2008-10-21T00:00:...|
|        5|      3643|   phone|     5|  iFruit|    1|2008-10-21T00:00:...|
|        1|      3620|   phone|     1|Sorrento| F00L|2008-10-21T00:00:...|
+---------+----------+--------+------+--------+-----+--------------------+
only showing top 5 rows

In [63]:
result.select("device_id", "make", "model", result.active_num).write.mode("overwrite").save("/loudacre/top_devices")